#set($module=$module0.toLowerCase())
#set($Module0=$strings.capitalizeFirstLetter($module0))
#set($Module=$strings.capitalizeFirstLetter($module))
#set($MODULE=$module0.toUpperCase())
#if ($MODULE == "EXAM")
#set ($ModuleComment = "考核")
#set ($Tables =["examTimes","personalTarget","examProcess","examResult","examTemplate","examTempItem","compCategory","competence","kpiCategory","kpi"])
#set ($TableComments =["考核期次","个人发展目标","考核流程","考核结果","考核模板","考核模板项目","CompCategory","Competence","KPICategory","KPI"])
#set ($ChildTables =["examProcess","employee,examTimes","examTimes,employee,employee,examResult","examTempItem,examProcess","positionN,company,examTempItem","examTemplate,examResult","competence","compCategory,qualiComp","kpi","kpiCategory"])
#set ($ChildFields =["examProcesses","employee,examTimes","examTime,employeeByChecker,employeeByEmployeeId,examResults","examTempItem,examProcess","positionN,company,examTempItems","examTemplate,examResults","competences","compCategory,qualiComps","kpis","kpiCategory"])
#set ($ChildTypes =["2","1,1","1,1,1,2","1,1","1,1,2","1,2","2","1,2","2","1"])
#end
#if ($MODULE == "TRAINNING")
#set ($ModuleComment = "培训")
#set ($Tables =["trainningTimes","trainningNeeds","trainingRequire","trainingPlan","trainingPlanEmp","courseCategory","course","trnFeedback","positionCourse","employeeCourse"])
#set ($TableComments =["培训期次","培训课程需求","培训需求","培训计划","培训计划人员","课程类别","课程","培训登记表","岗位课程关系","员工可能培训课程"])
#set ($ChildTables =["","employee,examTimes","courseCategory","company,course,trainingPlanEmp","trainingPlan,employee","trainingRequire,course","courseCategory,company,employeeCourse,trainingPlan,positionCourse,qualiCrsCate,qualiCrs","employee","positionN,company,course","employee,course"])
#set ($ChildFields =["","employee,examTimes","courseCategory","company,course,trainingPlanEmps","trainingPlan,employee","trainingRequires,courses","courseCategory,company,employeeCourses,trainingPlans,positionCourses,qualiCrsCates,qualiCrs","employee","positionN,company,course","employee,course"])
#set ($ChildTypes =["1","1,1","1","1,1,2","1,1","2,2","1,1,2,2,2,2,2","1","1,1,1","1,1"])
#end