##2-Answer/ErrorInfo; 3-Errtype/Errcode/Errstr
#set($errCount="3")

    //String userid = getUserId(arg0.getSession());
    SelfForm generalForm = (SelfForm) arg2; //TODO: SelfForm-自定义绑定页面form的数据
    ${Protocol0}${Tag0}Req req = new ${Protocol0}${Tag0}Req();
    ${Protocol0}${Tag0}Rsp rsp = null;
    AClientMessage a${Tag0}Client = new ${Tag0}Client();

    /*set req*/
#if($Jspdo0=="qry")
    req.setStart((pageInfoExt.getPageInfo().getPage()-1)*pageInfoExt.getPageInfo().getCount());
    req.setCount(pageInfoExt.getPageInfo().getCount());
#else
    //req.setXxx(x);
#end

    int times = 5;//second
    int seq = (int)(System.currentTimeMillis()&0x0000ffff) - 10000;
    long old = System.currentTimeMillis();
    while(System.currentTimeMillis() - old < times*1000){
      try{

        //拼发送消息
        req.setSeq(seq++);
        //req.setXxx(value); //TODO: set request value from generalForm

        if (logger.isInfoEnabled()){
            logger.info("Send REQ: " + req);
        }

        //一半时间去发送
        int rtn = a${Tag0}Client.writeMsg(req);
        while (rtn<0 && (System.currentTimeMillis() - old < Math.max(sendTimeout,times/2)*1000)){
            a${Tag0}Client = new ${Tag0}Client();
            if (logger.isInfoEnabled()){
                logger.info(rtn+" - reconnecting ... a${Tag0}Client=" + a${Tag0}Client);
            }
            rtn = a${Tag0}Client.writeMsg(req);
        }
        if (rtn<0){
            break;
        }

        //一半时间去接收
        long old2 = System.currentTimeMillis();
        do{
          try{
             java.lang.Thread.sleep(5);
             rsp = (${protocol0}${Tag0}Rsp)a${Tag0}Client.readMsg(1);  //1s
             if (null!=rsp && req.getSeq()!=rsp.getSeq()){
            	 logger.warn("not matched message. discard: "+rsp);
            	 rsp=null;
             }
          }catch(Exception e){
            logger.error("Recv message is Exception e="+e, e);
            break;
          }
        }while(rsp == null && System.currentTimeMillis() - old2 < Math.max(receiveTimeout,(times-times/2))*1000);

        if (logger.isInfoEnabled()){
            logger.info("Recv RSP: " + rsp);
        }
        if (null!=rsp) break;
      }catch(Exception e){
          logger.error("Send/Recv message is Exception e="+e, e);
      }
    }

    if (rsp == null) {
      model.put("rsValue", OperatorResult.NOANSWER);
      model.put("gohref", getFailureGohref());

      return new ModelAndView(getFailureView(), model);
    } else {
#if($errCount == "3")
#if($Jspdo0=="qry")
        if (rsp.getResCommon().getErrcode() != 0 && rsp.getResCommon().getErrcode() != 100) {
#else
        if (rsp.getResCommon().getErrcode() != 0) {
#end
        model.put("rsValue", OperatorResult.FAILURE);
        model.put("errorinfo", rsp.getResCommon().getErrcode()+" - "+rsp.getResCommon().getErrstr());
        model.put("gohref", getFailureGohref());
#else
#if($Jspdo0=="qry")
        if (rsp.getResCommon().getAnswer() != 0 && rsp.getResCommon().getAnswer() != 100) {
#else
        if (rsp.getResCommon().getAnswer() != 0) {
#end
        model.put("rsValue", rsp.getResCommon().getAnswer());
        model.put("errorinfo",rsp.getResCommon().getErrorInfo());
#end
        return new ModelAndView(getFailureView(), model);
      } else {
        model.put("rsValue",OperatorResult.SUCCESS);
        model.put("gohref", getSuccessGohref());

#if($Jspdo0=="qry")
        //pageInfoExt.getPageInfo().setTotle(rsp.getRowCount());  //符合条件的总记录数
        arg0.getSession().setAttribute("${tag0}List", rsp.get${Table0}Infos());
#elseif($Jspdo0=="mod")
        model.put("${tag0}List", rsp.get${Table0}Infos());
#end

        return new ModelAndView(getSuccessView(), model);
        //return new ModelAndView(getFormView(), model);  //only query's showFormHandle()
      }
    }
